@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

.custom_img {
  width: 100% !important;
  height: 100% !important;
  position: relative  !important;
}

.bg_img{
  background-image: url("../public/Images/poster.svg");
}
.yatch_sliderImg{
  background-image: url("../public/Images/yatchPoster.svg");
}

.YatchSlider2_bg{
  background-image: url("../public/Images/yatchParty.svg");
}

.Limo_slider{
  background-image: url("../public/Images/limo_poster.svg");
}

.CarRental_bg{
  background-image: url("../public/Images/CarPoster.svg");
}

.img_size{
  width: 60% !important;
}

.img_sizee{
  width: 10% !important;
}
.slick-dots {
  top: 510px;  
  left: 1200px;

 width: 6% !important;
 height: 30px;
  /* font-size: 10px; */
  z-index: 30;
  position: absolute;
}


.rc-time-picker-input{
  width: 60px !important;
  
}
.rc-time-picker{
  width: 140px;
  padding: 3;
}
.rc-time-picker-clear-icon{
display: none;
}
